<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()+'/'}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>班级编号</td>
            <td>班级名称</td>
            <td>操作</td>
        </tr>
        <tr th:each="tclass :${list}">
            <td th:text="${tclass.id}">班级编号</td>
            <td th:text="${tclass.name}">班级名称</td>
            <td><!--
              <a th:href="@{'stu/del/'+${stu.id}}">删除</a>-->
                <a th:href="@{'tc/toupdate/'+${tclass.id}}">修改</a>
                <a th:href="@{'tc/del/'+${tclass.id}}">删除</a>
            </td>
        </tr>
    </table>
    <a href="tc/toadd">添加</a>
</body>
</html>