<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="stu/update" method="post">
        <input type="hidden" name="id" th:value="${stu.id}"><br>
       姓名： <input type="text" name="stuName" th:value="${stu.stuName}"><br>
       年龄： <input type="text" name="age" th:value="${stu.age}"><br>
       性别： <input type="text" name="sex" th:value="${stu.sex}"><br>
       班级： <input type="text" name="classId" th:value="${stu.tcName}"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>